@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/roboto-v20-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/roboto-v20-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/roboto-v20-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-condensed-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/roboto-condensed-v19-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto-condensed-v19-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/roboto-condensed-v19-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/roboto-condensed-v19-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/roboto-condensed-v19-latin-regular.svg#RobotoCondensed')
      format('svg'); /* Legacy iOS */
}

html,
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #fff;
  color: #222;
  font-weight: 200;
  font-size: 10px;
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  color: #9b9b9b;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: #000;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
